<br>
<h1>How To Get In Touch With Us</h1>
<div id="pagecontent">
<div class="top-left"></div><div class="top-right"></div>
	<div class="inside">
		
		<!-- Start Of Content -->
		<table>
			<tr>
				<td valign="top">
					<img src="/template/images/housepic1.jpg" width="340">
				</td>
				<td width="25" valign="top">
					&nbsp;
				</td>
				<td valign="top">
					<div id="contactusaddress">
						<h1>Buy and Sell Smart Realty</h1><br>
						7155 W Campo Bello Dr.<br>
						Bldg. C-120<br>
 						Glendale, AZ  85308<br> 

						<br>
						shawn@shawnbradfordteam.com<br>
						<br>
						Office: 623 776 2755<br>
						<br>		
					</div>
				</td>
			</tr>
		</table>
		<!-- End Of Content -->
		<p class="notopgap"></p>
		<p class="nobottomgap"></p>
	</div>
<div class="bottom-left"></div><div class="bottom-right"></div>
</div> <!-- End Page Content -->
