<br>
<div id="pagecontent">
<div class="top-left"></div><div class="top-right"></div>
	<div class="inside">
		<p class="notopgap">&nbsp;</p>
		<!-- Start Of Content -->
  	<!-- Your content goes here -->
		<p>
		  <div id="newspagenewstitle"><%=h @testimonial.title %></div>
		</p>

		<p>
		  <b>From:</b>
		  <%=h @testimonial.fullname %>
		</p>
		<p>
		  <%= show_date(@testimonial.created_at ) %>
		</p>

		<p>
		  <%= @testimonial.testimonial %>
		</p>

		<br>
		<br>
	<!-- End Of Content -->
	<br>
	<p class="nobottomgap"></p>
</div>
<div class="bottom-left"></div><div class="bottom-right"></div>
</div> <!-- End Page Content -->
		